.btn-primary {
  /* margin-top: 30px; */
  background-color: var(--tertiary-bg);
  color: var(--secondary-bg);
  border-radius: 5px;
  align-self: center;
  width: 100px;
  font-weight: bold;
}

.formContainerSignup {
  background-color: var(--primary-bg);
  width: 301px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid #252827;
  border-radius: 3px;
}

#inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-primary-signup {
  margin-top: 30px;
  background-color: var(--tertiary-bg);
  color: var(--secondary-bg);
  border-radius: 5px;
  text-align: center;
  width: 66px;
  font-weight: bold;
  display: flex;
}
