/* .login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
} */

:root {
  --main-bg: #fcc931;
}

.btn-primary {
  background-color: var(--main-bg);
  color: #252827;
}

.btn-sm {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

input[type="text"]#usernameField {
  background-color: var(--main-bg);
}

.formContainer {
  background-color: var(--main-bg);
}
