:root{
--main-bg: #FFF6EA;
  --primary-bg: #B3D0B3;
  --secondary-bg: #252827;
  --tertiary-bg: #FCC931;
}

#btn-primary-login {
  margin-top: 30px;
  background-color: var(--tertiary-bg);
  color: var(--secondary-bg);
  border-radius: 5px;
  text-align: center;
  width: 76px;
  font-weight: bold;
  display: flex;
  border: 2px solid #252827;
}
input[type="text"]#usernameField {
  background-color: var(--main-bg);
  align-items: center;
}
input[type="password"]#passwordField {
  background-color: var(--main-bg);
}
.formLabelUsername {
  font-weight: bold;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formLabelPassword {
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContainer {
  background-color: var(--primary-bg);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid #252827;
  border-radius: 3px;
}
#inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}