:root {
  --main-bg: #fff6ea;
  --primary-bg: #b3d0b3;
  --secondary-bg: #252827;
  --tertiary-bg: #fcc931;
}

.btn-primary {
  background-color: var(--tertiary-bg);
  color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 1rem;
  flex-wrap: wrap;
  width: 100px;
  border-radius: 5px;
}

input[type="text"]#usernameField {
  background-color: var(--main-bg);
}

input[type="password"]#passwordField {
  background-color: var(--main-bg);
}

.formContainer {
  background-color: var(--primary-bg);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid #252827;
  border-radius: 3px;
}

.inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}
