:root {
  --main-bg: #fff6ea;
  --primary-bg: #b3d0b3;
  --secondary-bg: #252827;
  --tertiary-bg: #fcc931;
}

.checkboxContainer {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 38px;
  margin: 100px auto;
}

.btncontainer {
  display: flex;
  justify-content: center;
}

.helper label span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg);
  border-radius: 6px;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
  height: 60px;
  width: 150px;
  margin: 15px;
  border: 2px solid #252827;
}

#btn-primary-search {
  margin-top: 30px;
  background-color: var(--tertiary-bg);
  color: var(--secondary-bg);
  border-radius: 5px;
  justify-content: center;
  width: 275px;
  height: 50px;
  font-weight: bold;
  display: flex;
  border: 2px solid #252827;
}

.checkoption {
  display: none;
}

.formLabelPassword {
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContainer {
  background-color: var(--primary-bg);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid #252827;
  border-radius: 3px;
}

.row {
  padding: 45px;
}

.card {
  margin: 5px;
  border: 0px;
  width: 300px;
}

.cardbody {
  background-color: var(--primary-bg);
  border-radius: 5px;
}

#image {
  width: 250px;
  outline: none;
  padding: 10px;
  text-align: center;
}
.cardHeader {
  background-color: var(--tertiary-bg);
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.cardFooter {
  background-color: var(--tertiary-bg);
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.cardText {
  text-align: center;
}

.helper input:checked + span {
  background-color: var(--tertiary-bg);
}

.searchHeader {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 40px;
}
