:root {
  --main-bg: #fcc931;
}

.btn-primary {
  background-color: var(--main-bg);
  color: #252827;
}

.btn-sm {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

input[type="text"]#usernameField {
  background-color: var(--main-bg);
}

.formContainer {
  background-color: var(--main-bg);
}
